<article class="card">
  <div class="card__header">
    <h2 class="card__title"><%= tour.name %></h2>
  </div>

  <div class="card__body">
    <p><%= tour.summary %></p>
    <p>Duration: <%= tour.duration %> days</p>
    <p>Difficulty: <%= tour.difficulty %></p>
    <p>Price: $<%= tour.price %></p>
  </div>
</article>
